<head>
    <meta charset="utf-8">
    <title>Contact Management</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#8891aa">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="/favicon.png" rel="shortcut icon">
</head>
<body>
    <app></app>
</body>
