<template>
    <div class="admin">
        <div class="container">
            <div class="header">
                <h3 class="lead">User Directory</h3>

                <div class="actions">
                    <!-- <div class="btn btn-primary" @click="onImport"><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Import JSON / CSV</div> -->
                    <div class="btn btn-primary" @click="onExport"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Export CSV</div>
                    <div class="btn btn-primary" @click="$router.push('/admin/create')" data-toggle="modal" data-target="#import-csv"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Create Admin</div>
                </div>
            </div>

            <div class="loading" v-if="!$subReady.usersAll">
                <Loading></Loading>
            </div>
            <table class="table table-striped table-hover" id="users-table"></table>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    import FileSaver from 'file-saver';
    import Loading from '../components/Loading';

    export default {
        name: 'admin',
        data() {
            return {
                usersAll: []
            };
        },
        meteor: {
            $subscribe: {
                'usersAll': []
            },
            usersAll() {
                return Meteor.users.find({ admin: false }).fetch();
            }
        },
        watch: {
            'usersAll': function() {
                if (this.$subReady.usersAll) {
                    const table = $('#users-table').DataTable({
                        data: this.usersAll,
                        columns: [
                            { title: "First Name", data: 'first_name' },
                            { title: "Last Name", data: 'last_name'},
                            { title: "Status", data: 'status' },
                            { title: "Department", data: 'department' },
                            { title: "Work Title", data: 'work_title' }
                        ]
                    });

                    $('#users-table tbody').on('click', 'tr', function() {
                        const userId = table.row(this).data()._id;
                        window.location.href = `#/user/${userId}`;
                    });
                }
            }
        },
        methods: {
            onExport() {
                Meteor.call('exportCSV', (err, res) => {
                    if (err) {
                        console.log(err.reason);
                    } else {
                        const blob = new Blob([res], { type: "text/plain;charset=utf-8" });
                        const date = moment().format("MMDDYYYY");
                        FileSaver.saveAs(blob, `export-${date}.csv`);
                    }
                });
            },
            onImport() {
                $('#import-file').modal();
            }
        },
        components: {
            Loading
        }
    }
</script>

<style scoped>
    .header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .header .actions {
        margin-left: auto;
    }

    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
