<template>
    <div class="create-admin">
        <div class="container">
            <div class="heading">
                <span class="back-button glyphicon glyphicon-chevron-left" @click="$router.push('/admin')"></span>
                <h3 class="lead">Create Admin Account</h3>
            </div>

            <form id="create-admin-form">
                <div class="form-group">
                    <input type="email" class="form-control" v-model.trim="email" placeholder="Email" required>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <PasswordInputToggle v-model="password" label="Password"></PasswordInputToggle>
                        </div>

                        <div class="col-md-6">
                            <PasswordInputToggle v-model="passwordConfirm" label="Confirm Password"></PasswordInputToggle>
                        </div>
                    </div>
                </div>

                <div class="messages" v-show="messages.length">
                    <p v-for="message in messages">
                        {{message}}
                    </p>
                </div>

                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</template>

<script>
    import { Meteor } from 'meteor/meteor';
    import PasswordInputToggle from '../components/PasswordInputToggle';
    
    export default {
        name: 'create-admin',
        data() {
            return {
                email: '',
                password: '',
                passwordConfirm: '',
                messages: []
            };
        },
        methods: {
            createMessage(type, msg) {
                this.messages.push(msg);
                document.querySelector('.messages').classList.remove('success', 'error');
                document.querySelector('.messages').classList.add(type);
            }
        },
        mounted() {
            const form = document.querySelector('#create-admin-form');
            form.addEventListener('submit', (e) => {
                e.preventDefault();
                this.messages = [];

                if (this.password === this.passwordConfirm) {
                    Meteor.call('createAdmin', this.email, this.password, (err, res) => {
                        if (err) {
                            this.createMessage('error', err.reason);
                        } else {
                            this.createMessage('success', 'Admin created.');
                        }
                    });
                } else {
                    this.createMessage('error', 'Password mismatch.');
                }
            });
        },
        components: {
            PasswordInputToggle
        }
    }
</script>

<style scoped>
    .heading {
        display: flex;
        align-items: center;
    }
</style>
