<template>
    <div class="home">
        <div class="container">
            <form id="bcp-form">
                <h3 class="lead">Core Employee Information</h3>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="first-name" placeholder="First name" required>
                        </div>
                        
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="last-name" placeholder="Last name" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <select class="form-control" id="status" disabled>
                                <option value="">Select Status</option>
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                                <option value="Locked">Locked</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <select class="form-control" id="role">
                                <option value="">Select Role</option>
                                <option value="Trainee">Trainee</option>
                                <option value="Departmental Lead">Departmental Lead</option>
                                <option value="Incident Management Team">Incident Management Team</option>
                                <option value="Local Site Incident Cooridinator">Local Site Incident Coordinator</option>
                                <option value="Program Manager">Program Manager</option>
                                <option value="Internal Audit">Internal Audit</option>
                                <option value="Executive Leadership Team">Executive Leadership Team</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="work-title" placeholder="Work Title" required>
                        </div>
                        
                        <div class="col-md-4">
                            <select class="form-control" id="department">
                                <option value="">Select Department</option>
                                <option value="Account Management">Account Management</option>
                                <option value="Marketing">Marketing</option>
                                <option value="Sales">Sales</option>
                                <option value="IT">IT</option>
                                <option value="Executives">Executives</option>
                                <option value="Client Services">Client Services</option>
                                <option value="Finance">Finance</option>
                                <option value="HR">HR</option>
                                <option value="Operations">Operations</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <select class="form-control" id="location">
                                <option value="">Select Location</option>
                                <option value="Manilla">Manilla</option>
                                <option value="Marietta">Marietta</option>
                                <option value="Montreal">Montreal</option>
                                <option value="Mumbai">Mumbai</option>
                                <option value="New York">New York</option>
                                <option value="Rocklin">Rocklin</option>
                                <option value="Surrey">Surrey</option>
                                <option value="Swansea">Swansea</option>
                                <option value="US-remote">US-remote</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="remote">
                                    Remote worker?
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            <label>Photo</label>
                            <input type="file" class="form-control" id="photo">
                        </div>
                    </div>
                </div>

                <h3 class="lead">Contact Information</h3>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="tel" class="form-control" id="company-mobile" placeholder="Company Mobile Number" required>
                        </div>
                        
                        <div class="col-md-4">
                            <input type="tel" class="form-control" id="company-phone" placeholder="Work Phone Number" required>
                        </div>

                        <div class="col-md-2">
                            <input type="tel" class="form-control" id="company-phone-ext" placeholder="Ext" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="tel" class="form-control" id="personal-mobile" placeholder="Personal Mobile Number" required>
                        </div>
                        
                        <div class="col-md-4">
                            <input type="tel" class="form-control" id="personal-home" placeholder="Personal Home Number" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="email" class="form-control" id="company-email" placeholder="Company Email" required>
                        </div>
                        
                        <div class="col-md-4">
                            <input type="email" class="form-control" id="personal-email" placeholder="Personal Email" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="street" placeholder="Home Address" required>
                        </div>
                        
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="apt" placeholder="Apt/Floor" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <CountrySelect></CountrySelect>
                        </div>

                        <div class="col-md-3">
                            <input type="text" class="form-control" id="state" placeholder="State" required>
                        </div>

                        <div class="col-md-3">
                            <input type="text" class="form-control" id="city" placeholder="City" required>
                        </div>

                        <div class="col-md-3">
                            <input type="text" class="form-control" id="postal" placeholder="Zip/Postal" required>
                        </div>
                    </div>
                </div>

                <h3 class="lead">Emergency Contact Information</h3>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="emg-first-name" placeholder="First Name" required>
                        </div>
                        
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="emg-last-name" placeholder="Last Name" required>
                        </div>

                        <div class="col-md-4">
                            <input type="text" class="form-control" id="emg-relationship" placeholder="Relationship" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="tel" class="form-control" id="emg-work-phone" placeholder="Work Phone Number" required>
                        </div>
                        
                        <div class="col-md-2">
                            <input type="tel" class="form-control" id="emg-work-phone-ext" placeholder="Ext" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="tel" class="form-control" id="emg-mobile-phone" placeholder="Mobile Phone Number" required>
                        </div>
                        
                        <div class="col-md-4">
                            <input type="tel" class="form-control" id="emg-home-phone" placeholder="Home Phone Number" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="email" class="form-control" id="emg-work-email" placeholder="Work Email" required>
                        </div>
                        
                        <div class="col-md-4">
                            <input type="email" class="form-control" id="emg-personal-email" placeholder="Personal Email" required>
                        </div>
                    </div>
                </div>

                <div class="messages" v-show="messages.length">
                    <p v-for="message in messages">
                        {{message}}
                    </p>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</template>

<script>
    import { Meteor } from 'meteor/meteor';
    import CountrySelect from '../components/CountrySelect';
    import { updateUser } from '../../api/users/methods.js';

    export default {
        name: 'home',
        data() {
            return {
                id: Meteor.userId(),
                userProfile: {},
                messages: []
            };
        },
        meteor: {
            $subscribe: {
                'userProfile'() {
                    return [this.id];
                }
            },
            userProfile() {
                return Meteor.users.findOne(this.id);
            }
        },
        watch: {
            'userProfile': function() {
                if (this.$subReady.userProfile) {
                    document.querySelector('#first-name').value = this.userProfile.first_name || '';
                    document.querySelector('#last-name').value = this.userProfile.last_name || '';
                    document.querySelector('#status').value = this.userProfile.status || '';
                    document.querySelector('#role').value = this.userProfile.role || '';
                    document.querySelector('#work-title').value = this.userProfile.work_title || '';
                    document.querySelector('#department').value = this.userProfile.department || '';
                    document.querySelector('#location').value = this.userProfile.location || '';
                    document.querySelector('#remote').checked = this.userProfile.remote || '';
                    document.querySelector('#country').value = this.userProfile.country || '';
                    document.querySelector('#state').value = this.userProfile.state || '';
                    document.querySelector('#city').value = this.userProfile.city || '';
                    document.querySelector('#street').value = this.userProfile.street || '';
                    document.querySelector('#postal').value = this.userProfile.postal || '';
                    document.querySelector('#apt').value = this.userProfile.apt_number || '';
                    document.querySelector('#company-mobile').value = this.userProfile.company_mobile || '';
                    document.querySelector('#company-phone').value = this.userProfile.company_phone || '';
                    document.querySelector('#company-phone-ext').value = this.userProfile.company_phone_ext || '';
                    document.querySelector('#personal-mobile').value = this.userProfile.personal_mobile || '';
                    document.querySelector('#personal-home').value = this.userProfile.personal_home || '';
                    document.querySelector('#company-email').value = this.userProfile.company_email || '';
                    document.querySelector('#personal-email').value = this.userProfile.personal_email || '';
                    document.querySelector('#emg-first-name').value = this.userProfile.emg_first_name || '';
                    document.querySelector('#emg-last-name').value = this.userProfile.emg_last_name || '';
                    document.querySelector('#emg-relationship').value = this.userProfile.emg_relationship || '';
                    document.querySelector('#emg-work-phone').value = this.userProfile.emg_work_phone || '';
                    document.querySelector('#emg-work-phone-ext').value = this.userProfile.emg_work_phone_ext || '';
                    document.querySelector('#emg-mobile-phone').value = this.userProfile.emg_mobile_phone || '';
                    document.querySelector('#emg-home-phone').value = this.userProfile.emg_home_phone || '';
                    document.querySelector('#emg-work-email').value = this.userProfile.emg_work_email || '';
                    document.querySelector('#emg-personal-email').value = this.userProfile.emg_personal_email || '';
                }
            }
        },
        methods: {
            createMessage(type, msg) {
                this.messages.push(msg);
                document.querySelector('.messages').classList.remove('success', 'error');
                document.querySelector('.messages').classList.add(type);
            }
        },
        mounted() {
            const form = document.querySelector('#bcp-form');
            form.addEventListener('submit', (e) => {
                e.preventDefault();
                this.messages = [];

                const user = {
                    id: this.id,
                    first_name: document.querySelector('#first-name').value,
                    last_name: document.querySelector('#last-name').value,
                    status: document.querySelector('#status').value,
                    role: document.querySelector('#role').value,
                    work_title: document.querySelector('#work-title').value,
                    department: document.querySelector('#department').value,
                    location: document.querySelector('#location').value,
                    remote: document.querySelector('#remote').checked,
                    country: document.querySelector('#country').value,
                    state: document.querySelector('#state').value,
                    city: document.querySelector('#city').value,
                    street: document.querySelector('#street').value,
                    postal: document.querySelector('#postal').value,
                    apt_number: document.querySelector('#apt').value,
                    photo: document.querySelector('#photo').value,
                    company_mobile: document.querySelector('#company-mobile').value,
                    company_phone: document.querySelector('#company-phone').value,
                    company_phone_ext: document.querySelector('#company-phone-ext').value,
                    personal_mobile: document.querySelector('#personal-mobile').value,
                    personal_home: document.querySelector('#personal-home').value,
                    company_email: document.querySelector('#company-email').value,
                    personal_email: document.querySelector('#personal-email').value,
                    emg_first_name: document.querySelector('#emg-first-name').value,
                    emg_last_name: document.querySelector('#emg-last-name').value,
                    emg_relationship: document.querySelector('#emg-relationship').value,
                    emg_work_phone: document.querySelector('#emg-work-phone').value,
                    emg_work_phone_ext: document.querySelector('#emg-work-phone-ext').value,
                    emg_mobile_phone: document.querySelector('#emg-mobile-phone').value,
                    emg_home_phone: document.querySelector('#emg-home-phone').value,
                    emg_work_email: document.querySelector('#emg-work-email').value,
                    emg_personal_email: document.querySelector('#emg-personal-email').value
                };

                updateUser.call(user, (err) => {
                    if (err) {
                        this.createMessage('error', err.reason);
                    } else {
                        this.createMessage('success', 'Successfully updated.');
                    }
                });
            });
        },
        components: {
            CountrySelect
        }
    }
</script>

<style scoped>
    
</style>
