<template>
    <div class="password-input-toggle">
        <div class="input-group">
            <input :type="hidden ? 'password' : 'text'" class="form-control" :value="value" :placeholder="label" @input="updateValue($event.target.value)" required>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" @click="hidden = !hidden">
                    <span :class="['glyphicon', hidden ? 'glyphicon-eye-open' : 'glyphicon-eye-close']" aria-hidden="true"></span>
                </button>
            </span>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'password-input-toggle',
        props: ['value', 'label'],
        data() {
            return {
                hidden: true
            };
        },
        methods: {
            updateValue(value) {
                this.$emit('input', value);
            }
        }
    }
</script>

<style scoped>

</style>
