<template>
    <div id="app">
        <Navigation></Navigation>
        <router-view></router-view>
    </div>
</template>

<script>
    import Navigation from './components/Navigation';

    export default {
        name: 'app',
        meteor: {
            $subscribe: {
                'usersAdmin': []
            }
        },
        components: {
            Navigation
        }
    };
</script>

<style>
    /*
        Sterling Blue #0067b9
        Sterling Orange #FF8208
    */

    body {
        background-color: #f0f0f0;
    }

    .home, .signin, .user-details, .admin, .create-admin, .edit-user {
        margin-top: 50px;
    }

    .container {
        padding: 30px 0;
    }

    .form-control {
        border-radius: 0;
    }

    .form-control:focus {
        border-color: #979797;
        box-shadow: none;
        transition: all .5s;
    }

    .btn.btn-primary {
        background-color: #0067b9;
        border-color: #085796;
    }

    .btn:focus, .pagination > li > a:focus{
        outline: none;
    }

    .messages {
        display: flex;
        align-items: center;
        padding: 5px 15px;
        margin-bottom: 10px;
        height: 30px;
        color: #fff;
    }

    .messages.success {
        border: 1px solid #3c763d;
        background-color: #6f946f;
    }

    .messages.error {
        border: 1px solid #A54442;
        background-color: #c97e7d;
    }

    .messages p {
        margin: 0;
    }

    .back-button {
        font-size: 18px;
        padding: 10px;
        margin-right: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
    }

    .back-button:hover {
        background-color: #ddd;
    }
</style>
